
main{
    text-align: center;
    margin:0%;
    line-height: 1.8;
}
img{
max-width: 100%;
height: auto;
margin: auto;
display: block; 
}
#tribute-info{
    margin:0 auto 30px ;
    text-align: left;
    line-height: 1.8;
    max-width: 400px;
}
li{
    margin: 20px 0;
    font-size: medium;
}
